
.tonton{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color:rgba(87, 140, 145, 0.2);
}



.black{
	color: black;
}

.header1{
	background-color: #5A798D;
	display: flex;
	flex-direction: column;
}




.titrepub{
	height: 15vh;
	margin-top: 0.6%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.pub1{
	background-color: white;
	width: 10%;
	height: 100%;
}

.titre1{
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.paragraphetitre1{
	background-color: rgba(0, 0, 0, 0.4);
	height: 80%;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Anton', sans-serif;
	font-size: 225%;
	letter-spacing: 3px;
	border-radius: 15px;
}


.pub2{
	background-color: white;
	width: 10%;
	height: 100%;
}






.menu{
	margin-top: 0.4%;
	display: flex;
	justify-content: center;
}

.lien1{
	width: 30%;
	display: flex;
	justify-content: center;
	justify-content: space-around;
	font-family: 'Anton', sans-serif;
	font-size: 3vh;
	letter-spacing: 3px;
}

.lien1 a{
	text-decoration: none;
	color: white;
	text-decoration: underline white;
}


.réseaux{
	margin-top: 1.5%;
	display: flex;
}

.icone{
	background-color: rgba(128, 128, 128, 0.3);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;

}

.icone a{
	text-decoration: none;
	color: black;
}

.icone a:hover{
	color: white;
	transition: 0.2s;
}

.menuicone{
	background-color: rgba(128, 128, 128, 0.4);
	height: 100%;
	width: 5%;
	text-align: center;

}

.menuicone a{
	text-decoration: none;
	color: black;
}

.menuicone a:hover{
	color: white;
	transition: 0.2s;
}










.entoure1x{
	height: 100%;
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.entoure2x{
	height: 100%;
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}




.mainx{
	height: 80vh;
	display: flex;
	flex-direction: column;
	margin-bottom: 0.5%;

}


.rectangle1x{
	height: 8%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 1%;

}


.rectangletitre1x{
	background-color: rgba(128, 128, 128, 0.3);
	width: 45%;
	height: 100%;
	font-family: 'Anton', sans-serif;
	font-size: 3vh;
	letter-spacing: 3px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	margin-top: 0.5%;
}



.rectanglemain1x{
	height: 87%;
	width: 96.3%;
	margin-left: 2%;
	display: flex;
	justify-content: space-between;
}



.rectangle2x{
	height: 100%;
	width: 15%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.menumain1x{
	background-color: rgba(128, 128, 128, 0.3);
	border-radius: 15px;
	height: 30%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.pubmain1x{
	background-color: white;
	height: 50%;

}

.article1x{
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 15px;
	width: 100%;
	height: 22%;
	color: white;
	display: flex;
	flex-direction: column;

}


.article2x{
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 15px;
	width: 100%;
	height: 22%;
	color: white;
}


.article3x{
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 15px;
	width: 100%;
	height: 22%;
	color: white;
}

.menumain1x a{
	text-decoration: none;
	font-family: 'Anton', sans-serif;
	font-size: 3vh;
	letter-spacing: 3px;
	color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.menumain1x a:hover{
	text-decoration: none;
	font-family: 'Anton', sans-serif;
	font-size: 3vh;
	letter-spacing: 3px;
	color: black
}

.menumain2x a:hover{
	text-decoration: none;
	font-family: 'Anton', sans-serif;
	font-size: 3vh;
	letter-spacing: 3px;
	color: black
}

.menumain2x a{
	text-decoration: none;
	font-family: 'Anton', sans-serif;
	font-size: 3vh;
	letter-spacing: 3px;
	color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


.menumain2x{
	background-color: rgba(128, 128, 128, 0.3);
	border-radius: 15px;
	height: 30%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}



.pubmain2x{
	background-color: white;
	height: 50%;
}


.article4x{
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 15px;
	width: 100%;
	height: 22%;
	color: white;
}

.article5x{
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 15px;
	width: 100%;
	height: 22%;
	color: white;
}

.article6x{
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 15px;
	width: 100%;
	height: 22%;
	color: white;
}

.rectangle4x{
	height: 100%;
	width: 15%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}






.section11x{
	background-color: rgba(128, 128, 128, 0.3);
	border-radius: 15px;
	width: 68%;
	height: 100%;
	overflow: scroll;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.section11x p{
	font-family: 'Anton', sans-serif;
	font-size: 2vh;
	letter-spacing: 3px;
	color: white;
}


.article11x{
	height: 40%;
	width: 100%;
	margin-top: 1.5%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}





.titre11x{
	height: 50%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.paratitre11x{
	text-align: center;
	display: flex;
	justify-content: center;

}

.text11x{
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	width: 25%;
	height: 100%;
	display: flex;
	justify-content: center;

}

.video11x{
	height: 61%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.vv11x video{
	border-radius: 15px;
	height: 100%;
	width: 23%;
}

.vv11x{
	background-color: rgba(90, 127, 135, 0.2);
	border-radius: 10px;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-around;
}



.titre22x{
	height: 50%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.paratitre22x{
	text-align: center;
	display: flex;
	justify-content: center;

}

.text22x{
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	width: 25%;
	height: 100%;
	display: flex;
	justify-content: center;

}

.video22x{
	height: 61%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.vv22x video{
	border-radius: 15px;
	height: 100%;
	width: 23%;
}

.vv22x{
	background-color: rgba(90, 127, 135, 0.2);
	border-radius: 10px;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-around;
}







.titre33x{
	height: 50%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.paratitre33x{
	text-align: center;
	display: flex;
	justify-content: center;

}

.text33x{
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	width: 25%;
	height: 100%;
	display: flex;
	justify-content: center;

}

.video33x{
	height: 61%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.vv33x video{
	border-radius: 15px;
	height: 100%;
	width: 23%;
}

.vv33x{
	background-color: rgba(90, 127, 135, 0.2);
	border-radius: 10px;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-around;
}







.titre44x{
	height: 50%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.paratitre44x{
	text-align: center;
	display: flex;
	justify-content: center;

}

.text44x{
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	width: 25%;
	height: 100%;
	display: flex;
	justify-content: center;

}

.video44x{
	height: 61%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.vv44x video{
	border-radius: 15px;
	height: 100%;
	width: 23%;
}

.vv44x{
	background-color: rgba(90, 127, 135, 0.2);
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-around;
}







.titre55x{
	height: 50%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.paratitre55x{
	text-align: center;
	display: flex;
	justify-content: center;

}

.text55x{
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	width: 25%;
	height: 100%;
	display: flex;
	justify-content: center;

}

.video55x{
	height: 61%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.vv55x video{
	border-radius: 15px;
	height: 100%;
	width: 23%;
}

.vv55x{
	background-color: rgba(90, 127, 135, 0.2);
	border-radius: 10px;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-around;
}









.titre66x{
	height: 50%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.paratitre66x{
	text-align: center;
	display: flex;
	justify-content: center;

}

.text66x{
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	width: 25%;
	height: 100%;
	display: flex;
	justify-content: center;

}

.video66x{
	height: 61%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.vv66x video{
	border-radius: 15px;
	height: 100%;
	width: 253;
}

.vv66x{
	background-color: rgba(90, 127, 135, 0.2);
	border-radius: 10px;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-around;
}








.article22x{
	height: 40%;
	width: 100%;
	margin-top: 4%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.article33x{
	height: 40%;
	width: 100%;
	margin-top: 4%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.article44x{
	height: 40%;
	width: 100%;
	margin-top: 4%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.article55x{
	height: 40%;
	width: 100%;
	margin-top: 4%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.article66x{
	height: 40%;
	width: 100%;
	margin-top: 4%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}














.footer1{
	background-color: #5A798D;
	height: 45vh;
	display: flex;
	flex-direction: column;
}

.menufooter1{
	margin-right: 5%;
	margin-left: 2%;
	height: 75%;
	margin-top: 2%;
	display: flex;
	flex-wrap: wrap;

}



.cadrefooter1{
	height: 100%;
	width: 15%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: rgba(128, 128, 128, 0.3);
	border-radius: 15px;

}

.cadrefooter1 a:hover{
	color: white;
	transition: 0.2s;
}

.cadrefooter1 a{
	text-decoration: none;
	color: black;
}


.iconefooter1{
	width: 15%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}


.icone2footer1{
	height: 100%;
	width: 15%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}


.textfooter1{
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 15px;
	width: 50%;
	margin-left: 13.5%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}



.white{
	color: black;
}



.parafooter1{
	font-family: 'Anton', sans-serif;
	font-size: 5vh;
	letter-spacing: 3px;
	color: white;
}

.parafooter1 a{
	text-decoration: none;
	color: gray;

}

.parafooter1 a:hover{
	text-decoration: none;
	color: black;
	
}



.aidefooter1{
	height: 30%;
	display: flex;
	flex-direction: column;
}

.rectanglefooter1{
}

.lignefooter1{
	color: transparent;
	background-color: white;
	height: 3%;
}

.rectangle2footer1{
	height: 100%;
}

.categoriefooter1{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: -0.5%;
}

.categoriefooter1 a{

	color: white;
	font-family: 'Anton', sans-serif;
	font-size: 3vh;
	letter-spacing: 3px;
}

.categoriefooter1 a{
	text-decoration: underline white;

}




.videobody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #2A4359; /* fallback color if gradients are not supported*/ 
    width: 100%;
    height: 100%;
}

.videobody h1,h2{
	text-align: center;
	font-size: 2em;
}

.videoart{
    color: white;
}

.acceuilcui1 p{
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.acceuilfoot{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.acceuilfoot1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25em;
    height: 20em;
    border: 5px solid black;
    border-radius: 22px;
    color: black;
    background-color: white;
       
}
.acceuilfoot1 video{
    width: 22em;
}
.acceuilcine{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 
}
.acceuilcine1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25em;
    height:37em;
    border: 4px solid black;
    border-radius: 22px;
    color: black;
    background-color:white;     
}
.acceuilcine1 video{
    width: 22em;
}

.acceuilsocial{
    width: 3em;
    height: 3em;
}
.acceuilsocial1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  
}
.acceuilmus{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
}
.acceuilmus1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25em;
    height: 20em;
    border: 5px solid black;
    border-radius: 22px;
    color: black;
    background-color: white;
       
}
.acceuilmus1 video{
    width: 22em;
}
.acceuilcui{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2%;
 
}
.acceuilcui1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 25em;
    height: 20em;
    border: 5px solid black;
    border-radius: 22px;
    color: black;
    background-color: white;
       
}

.acceuilcui1 video {
    display: flex;
    width:22em;
    background-color: black;
}
main {
    width: 100%;
    height: 100%;
}

p{
	font-family:  'Indie Flower', cursif;
}
.charlotart1{
    padding: 10em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:rgba(87, 140, 145, 0.2);
    
}
.charlot1{
    display: flex;
    flex-direction: column;
    justify-content: center;   
}
.charlot1a {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 5px solid tomato;
    border-radius: 15em;
    background-color: rgba(255, 255, 255, 0.486)
}
.charlot1b {
    display:flex;
    justify-content: center;
    border: 5px solid tomato;
    border-radius: 15em;
    background-color: rgba(255, 255, 255, 0.486)

}
.charlot1c {
    display:flex;
    justify-content: center;
    align-items: center;
    border: 5px solid tomato;
    border-radius: 15em;
    background-color: rgba(255, 255, 255, 0.486)

}
.charlot1d{
    display: flex;
    justify-content: center;
    border: 5px solid tomato;
    border-radius: 15em;
    background-color: rgba(255, 255, 255, 0.486)
    
}


.charlotart2{
    margin-top: 1%;
    border: 5px dotted tomato;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 22px;
    background-color: rgba(128, 128, 128, 0.3);
}

.charlot22{
    display: flex;
    flex-direction: column;   
    margin-left: 2em;
    height: 10em;
     
}
.charlot2a{
    display: flex;
    justify-content: center;
    border: 5px solid tomato;
    border-radius: 15em;
    background-color: rgba(255, 255, 255, 0.486);
    width: 4em;
}
.charlot2ah1{
    border: 2px solid tomato;
    border-radius: 15em;
    background-color: rgba(255, 255, 255, 0.486);
    width: 11em;
}
.charlot2b{
    display: flex;
    justify-content: center;
    border: 2px solid tomato;
    border-radius: 15em;
    background-color: rgba(255, 255, 255, 0.486);
    width: 4em;
}
.charlot2c{
    margin: 22px;
    width: 22em;
    height: 12em;
    border: 2px solid tomato;
}
.charlot23{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.charlotp{
    display: flex;
    flex-direction: row;
    margin-left: 2em;
    margin-right: 2em;
    border: 2px solid tomato;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 0.486);
}
.charlotsocial{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 3em;
}






